/* Styling for body in all pages */
body {
    background: radial-gradient(circle, #C9C5B1 0%, #C9C5B1 80%); /* Gradient background */
    font-family: 'Roboto', sans-serif; /* Font from google fonts */
}

/* Modified bootstrap styling for cards */
.card-games {
    cursor: pointer;
    height: 350px;
    overflow: hidden;
    border: none;
    transition: transform 0.3s ease-in-out; /* Make zoom transition smooth */
    border-radius: 8px;
}

/* Enlarge card and add a shadow when hovered over */
.card-games:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the image at top of card */
.card-games img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

/* Style body of cards */
.card-games-body {
    font-size: 14px;
}

/* Style for card title */
.card-games-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

/* Scale height to fit content, used to resize cards on user's list page */
.csm {
    height: max-content;
}

/* Styling for note and rating on user-games list */
.game-info {
    font-size: 0.9rem;
    color: #777;
    font-style: italic;
}

/* Make blue buttons darker on hover */
.btn-primary:hover {
    background-color: #0056b3;
}

/* Make red buttons darker on hover */
.btn-danger:hover {
    background-color: #c82333;
}

/* Generic button styling */
.btn {
    font-weight: bold;
    text-transform: capitalize;
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover */
}

/* Make sure the toast appears on page */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1060; /* Ensure it's on top of other elements, 1050 is modal, so above all */
    animation: fadeInUp 0.3s ease-out; /* Fade-in */
}

/* Padding on modal body */
.modal-body {
    padding: 20px;
}

/* Styling for modals */
.modal-content {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Modal inputs styling */
.modal input, .modal textarea {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Changes rating and note border to red when invalid value */
.modal input:invalid, .modal textarea:invalid {
    border-color: #DD2C00;
}

/* Removes padding */
.no-pad {
    padding: 0;
}

/* Style for the image at the top of modal */
.modal-header img.modal-image {
    align-items: center;
    border-radius: 5px; /* Rounded border */
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
}

/* Make star icons for rating larger */
.stars i {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

/* Styling for inputs, used on filters/sorting */
.styled-input {
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    font-size: 1rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/* When in focus, apply shadow and other styling */
.styled-input:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    outline: none;
}

.border-left-green {
    border-left: .5rem solid green !important;
}

.border-left-yellow {
    border-left: .5rem solid gold !important;
}

.card-dashboard {
    padding: 1rem;
    background: white;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 100px;
    vertical-align: center;
    text-align: center;
    border-radius: 10px;
}